/*{
    background:-webkit-linear-gradient(top, red 30%, blue 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;

    *{


     body .textemulticolore {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }
