a 
{
    display: inline-block;
 background: rgb(7, 7, 7);
 width: 1815px;
 height: 20px;
 color: antiquewhite;
}  

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


h1{text-align:center;}
           
.image {
    height: 60px;
    width: 60px;
}

               